.itemImage{
    margin: 80px;
    width: 700px;
    height: 700px;
}
.details {
    border-left: solid 2px;
    border-color: rgb(169, 168, 168);
    width: 600px;
    height: 1000px;
    padding: 40px;
  
}
.item {
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
}
.itemName{
    font-size: 30px;

}
.itemPrice{
    font-size: 30px;
}
.text{
    font-size: 25px;
    color: rgb(95, 95, 95);
    margin-bottom: 0px;
}
.innertext{
    font-size: 20px;
    color: rgb(66, 66, 66);
}